aiohttp==3.8.1
aiohttp-devtools==0.13.1
aiosignal==1.2.0
asttokens==2.0.5
async-timeout==4.0.1
attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
defusedxml==0.7.1
dependency-injector==4.37.0
Deprecated==1.2.13
devtools==0.8.0
executing==0.8.2
frozenlist==1.2.0
httpie==2.6.0
idna==3.3
multidict==5.2.0
Pygments==2.10.0
PySocks==1.7.1
redis==4.0.1
requests==2.26.0
requests-toolbelt==0.9.1
six==1.16.0
typing-extensions==4.0.0
urllib3==1.26.7
watchgod==0.7
wrapt==1.13.3
yarl==1.7.2
